body {
    background-color: rgb(204, 194, 243);
    margin: 15px;
}

.navbar {
    background-color: antiquewhite;
}

.navbar-brand {
    color: black;
}

.campo_preencher {
    background-color: antiquewhite;
    width: 600px;
    height: 150px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
}

#peso, #altura, #button {
    border-radius: 10px;
}

.peso_altura {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#resultado {
    margin-top: 15px;
    text-align: center;
}